---
import ThemeToggle from "./ThemeToggle.astro";

const tabs = [
  { label: "Lip Gloss", active: true },
  { label: "Blush" },
  { label: "Eye Shadow" },
  { label: "Mascara" },
  { label: "Foundation" },
];
---

<header
  class="border-b border-terminal-border-soft bg-terminal-panel px-6 pb-5 pt-8"
>
  <nav
    class=" flex flex-wrap justify-between items-center gap-3 text-xs font-semibold uppercase tracking-[0.3em]"
  >
    <div>
      <span
        class="rounded-lg border px-4 py-2 bg-gradient-to-r from-terminal-accent-soft to-terminal-accent-strong text-terminal-panel shadow-terminal-glow border-terminal-accent"
      >
        PORTFOLIO
      </span>
    </div>

    <div>
      <ThemeToggle />
    </div>

    <!-- {
      tabs.map((tab) => (
        <span
          class:list={[
            tab.active
              ? "bg-gradient-to-r from-terminal-accent-soft to-terminal-accent-strong text-terminal-panel shadow-terminal-glow border-terminal-accent"
              : "border-terminal-border-soft text-terminal-muted hover:border-terminal-accent hover:text-terminal-foreground transition-colors",
          ]}
          class="rounded-lg border px-4 py-2"
        >
          {tab.label}
        </span>
      ))
    } -->
  </nav>
</header>
